body{
    background: white;
    padding:0;
    margin:0;
    font-family:Source Sans Pro;
    font-weight:200;
    
}
a{
    text-decoration: none;
    color:inherit;
}
h1{
    margin:0;
    padding:0;
}
h1.logo{
    display:flex;
    flex-direction: column;
}
h1.logo a{
    justify-content:center;
    align-items:center;
    font-family:Open Sans;
    font-weight:400;
    font-size:16px;
    letter-spacing: 1.2pt;
    color:#11051b;
    font-size:22px;
}
h1 small{
    font-size:14px;
    color:#11051b;
    display:block;
}

/* GENERAL STYLES */
.contain{
    margin:0 auto;
    max-width:1200px;
}
/* NAVBAR */

#logo{
    height:70px;
}
nav{
    background-color: #f5f6f8;
    color:#999;
    text-transform:uppercase;
    width:100vw;
    z-index:5;
    display:flex;
    justify-content: center;
    max-width:100%;
}

    nav .inner{
        display:flex;
        margin:0;
        flex-direction:row;
        list-style-image:none;
        justify-content: space-between;
        width:1200px;
        
    }
    ul.nav{
        display:flex; 
        margin:0;
        padding:0;

    }
    ul.nav li{
        list-style-type: none;
        display:flex;

    }
        ul.nav li a{
            font-family:Open Sans;
            font-size:13px;
            margin-right:5px;
            padding:20px 20px;
            line-height:30px;
            justify-content:center;
            align-items:center;
            -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
            box-sizing:border-box;
            height:70px;
            border-top: 3px solid #7eacb9;

        }
        ul.nav li a:hover{
            color:#fff;
            background-color:#7eacb9;
            transition: all ease 400ms;
        }

/* Mobile Nav */
.slicknav_menu{
    background-color:#9ED7E8;
    height:55px;
    z-index:1000;
}
.slicknav_btn{
    background-color:#9ED7E8;
}
.slicknav_menu .slicknav_icon-bar {
    height:4px;
    border-radius:2px;
    width:30px;
    margin-bottom:5px;
    background-color:#222;
}
.slicknav_nav li a{
    color:#222;
    text-transform: uppercase;
    font-size:2em;
}
/* Splash */

div.splash{
    display:flex;
    align-items: center;
    flex-direction: column;
    background: #9ED7E8;
    height:60vh;
    margin-bottom:10px;
}
div.title-wrapper{
    margin-top:15vh;
    margin-bottom:10vh;
    flex-grow: 1; 
    display:flex;
    flex-direction:column;
}
.fa-play-circle-o{
    line-height: 40px;
    color:white;
    font-size:120px;
    margin:0 auto;
    cursor: pointer;
}
#splash-text{
    margin-top:60px;
    font-size:4em;
    color:#f5f6f8;
    font-family: 'Open Sans', sans-serif;
    letter-spacing:1.1pt;
    line-height:1em;
}
#fm{
    color:#9ED7E8;
    text-shadow:
    5px 5px white,
    1px -1px white,
    -1px 1px white,
    -1px -1px white;
    letter-spacing:1.1pt;
}
#splash-tag{
    color:#f5f6f8;
    text-transform: uppercase;
    letter-spacing:3.4pt;
    font-size:1.3em;
    margin-top:0;
    font-weight:bold;
}

/* Event Grid */

.date-wrap{
    margin-bottom:20px;
    display:flex;
    justify-content: space-between;
}
.date-select{
    display:flex;
    justify-content:space-between;
    width:200px;
    background-color:#9ED7E8;
    color:#eee;
    
}
#date, #left-arrow, #right-arrow{
       padding:10px;
       cursor:pointer;
}
#left-arrow, #right-arrow{
   background-color:##8ED1E4;
}
.social i{
    margin-left:20px;
    color:#9ED7E8;
    font-size:42px;
    cursor:pointer;
}
.social i:hover{
    color:#DC6961;
}
.section-heading{
    margin-bottom:20px;
    font-family:Source Sans Pro;
    font-weight:bold;
    font-size: 2em;
    text-transform: uppercase;
    font-size:3em;
    letter-spacing: 1.5pt;
}
#event-title{
    color:#9ED7E8;
}
.section-content{
    display:flex;
    width:100%;
    justify-content: center;
    margin-bottom:80px;
}
.section-content .thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0px;
    padding:0;
}
.portfolio-item{
    margin:0;
}
.section-content .thumbnails li, .item .thumbnails li {
    list-style: none;
    margin: 0px;
}
.thumbnail {
    transition: all 100ms ease-in-out;
    width:400px;
}
.thumbnail img{
    width:100%;
    height:100%;
}

.event-title-link{
    padding:10px 20px;
    min-height:96px;
}
.screenshot {
    height: 180px;
}

.thumbnails li h2{
    text-align: center;
    background-color: #7eacb9;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 1.5pt;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;
    margin: 0;
    padding: 20px 0;
    height:46px;
}
#middle h2, #middle p {
    background-color: #4f6b74;
}
.thumbnails li p, .thumbnails p {
    color: #eee;
    background-color: #7eacb9;
    margin: 0;
    padding: 20px 20px;
    font-size: 16px;
    font-weight: 200;
}
p.meta{
    text-align:left;
}
/* Triangle*/
#triangle-top{
width: 0;
height: 0;
border-style: solid;
border-width: 125px 0 0px 99vw;
border-color: transparent transparent transparent white;
}

#triangle-bottom{
    width: 0;
height: 0;
border-style: solid;
border-width: 0 99vw 125px 0;
border-color: transparent white transparent transparent;
}

/* Section three */
#three{
    background-color: #9ED7E8;
    width:100%;
    padding-bottom:50px;
    padding-top:50px;
}
#program-title{
    color:#eee;
}

.event-container:not(#last){
    margin-bottom:20px;
}

.event-row{
    height:180px;
    display:flex;
}
.event-date{
    text-transform: uppercase;
    letter-spacing:1.3pt;
    padding:20px 20px;
    background-color:#6e96a2;
    color:#eee;
}

.event-info{
    padding:20px 20px;;
    color:#eee;
    background-color:#7eacb9;
    font-size:1.2em;
}
.event-title{
    margin:0;
    text-transform: uppercase;
    
}
/* SPONSORS */
.sponsors{
    background-color:#DC6961;
    overflow:hidden;
}
.sponsors ul{
    display:flex;
    justify-content: space-between;
    margin:0;
}
.sponsors ul li{
    padding:20px;
    list-style:none;
    filter:saturate(0);
    cursor: pointer;
}
.sponsors ul li:hover{
    filter:saturate(1);
}
.sponsors img{
    height:50px;
}
/* FOOTER */
footer{
    background-color:#f5756c;
    color:#eee;
}
.footer-info{
    display:flex;
    justify-content: space-between;
    align-items:center;
    text-transform: uppercase;
    font-weight:200;
    padding:20px 0px;
}
.footer-info h3{
    margin:0;
}

.footer-info .social i{
    color:#eee;
}




/* MEDIA QUERIES */


@media screen and (min-width:960px){
    #menu,.slicknav_menu{
        display:none;
    }
}

@media screen and (max-width:960px){
    #nav{
        display:none;
    }
}

@media screen and (max-width:1300px){
    .contain{
        max-width:900px;
    }
    .thumbnails{
        width:900px;
    }
    .thumbnail{
        width:300px;
    }
}
@media screen and (max-width:960px){
    .contain{
        width:70vw;
    }
    .title-wrapper{
        transform:scale(0.8);
        margin-top:10vw!important;
    }
    .date-wrap{
        max-height:42px;
    }
    .date-select{
        width:auto;
    }
    .section-content .thumbnails{
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .thumbnail{
        width:70vw;
        margin-bottom:50px;
    }
    .event-info{
        overflow:hidden;
        padding-bottom:20px;
    }
}
@media screen and (max-width:640px){
    .title-wrapper{
        transform:scale(0.7);
    }
    .splash{
        height:50vh!important;
    }
    
    .event-row img{
        display:none;
        
    }
    .event-row{
        height:unset;
    }
}
@media screen and (max-width:490px){
    .title-wrapper{
        transform:scale(0.5);
    }
    #splash-tag{
        letter-spacing: 1pt;
        font-size:42px!important;
    }
    .social{
        display:none;
    }
    .date-select{
        width:100%;
    }
    .thumbnails li h2{
        height:unset;
    }
    
}